@font-face {
    font-family: prompt-semibold;
    src: url(Prompt-SemiBold.ttf);
}

@font-face {
    font-family: prompt-light;
    src: url(Prompt-Light.ttf);
}

section {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.svg {
    display: block;
    margin: 0 auto;
    margin-top: -20px;
}
  
.blend {
    mix-blend-mode: multiply;
}

.isolate {
    isolation: isolate;
}

.navbar{
    width:80%;
    margin: 5vh auto;
    left:0;
    right:0;
    padding:0;
}

.navbar-brand {
    font-family: prompt-semibold;
}

.nav-link {
    font-family: prompt-light;
}

#home {
    background: white;
}

#about {
    background: lightblue
}

#experience {
    background: lightgreen
}

#contact {
    background: lightpink
}

