@font-face {
    font-family: prompt-semibold;
    src: url(Prompt-SemiBold.ttf);
}

@font-face {
    font-family: prompt-light;
    src: url(Prompt-Light.ttf);
}

@font-face {
    font-family: prompt-medium;
    src: url(Prompt-Medium.ttf);
}

@font-face {
    font-family: prompt-thin;
    src: url(Prompt-Thin.ttf);
}

section {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: prompt-semibold;
}

.svg {
    display: block;
    margin: 0 auto;
    margin-top: -20px;
}
  
.blend {
    mix-blend-mode: multiply;
}

.isolate {
    isolation: isolate;
}

.navbar {
    width: 80vw;
    margin: 5vh auto;
    left:0;
    right:0;
    padding:0;
}

.navbar-toggler {
    border-width: 0;
}

.navbar-brand {
    font-family: prompt-semibold;
}

.nav-link {
    font-family: prompt-light;
}


#home {
    /*background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 71%, rgba(192,244,255,1) 100%);*/
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 73%, rgba(236,236,236,1) 100%);
}

#about {
    /*background: linear-gradient(180deg, rgba(192,244,255,1) 0%, rgba(192,255,247,1) 79%, rgba(192,255,212,1) 100%);*/
    background: rgba(236,236,236,1);
}

#experience {
    /*background: linear-gradient(180deg, rgba(192,255,212,1) 0%, rgba(192,255,240,1) 79%, rgba(255,192,244,1) 100%);*/
    background: linear-gradient(180deg, rgba(236,236,236,1) 0%, rgba(255,255,255,1) 25%, rgba(255,255,255,1) 100%);
    overflow-x: hidden;
}

#contact {
    /*background: linear-gradient(180deg, rgba(106,106,106,1) 0%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 100%);*/
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(236,236,236,1) 75%, rgba(236,236,236,1) 100%);
}

.AB {
    display: flex;
    justify-content: right;
    align-items: center;
}

.AB-text {
    color: black
}

.UT {
    display: flex;
    justify-content: left;
    align-items: center;
}

.O {
    z-index: 1;
}

.UT-text {
    color: black
}

.about-text {
    margin: 0;
}

.o-group:hover {
    cursor: pointer; 
}

.o-text:hover {
    cursor: pointer;
}

::-webkit-scrollbar {
    display: none;
}

.block-link {
    font-family: prompt-semibold;
    color: white;
    text-decoration: none;
    word-break: break-all;
}

.block-link-articles {
    font-size: xxx-large;
}

.block-link-articles:hover {
    color:black
}

.block-link-experience {
    font-size: xx-large;
}

.block-link-experience:hover{
    color:black;
}

.block-link-projects {
    font-size: x-large;
}

.block-link-projects:hover {
    color:black
}

@media only screen and (max-width: 480px) {
    .block-link-articles {
        font-size: x-large;
    }
    
    .block-link-experience {
        font-size: small;
    }
    
    .block-link-projects {
        font-size: small;
    }
}

.block-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#block-2-3 div {
    background-image: repeating-linear-gradient(
        -45deg,
        #1f91ac,
        #1f91ac 30px,
        transparent 30px,
        transparent 40px
    );
}

#block-4-1 div {
    background-image: repeating-linear-gradient(
        -45deg,
        #df871b,
        #df871b 25px,
        transparent 25px,
        transparent 35px
    );
}

input, button, textarea {
    border: 2px solid rgba(0, 0, 0, 0.6);
    background-image: none;
    background-color: #dadad3;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 5px;
}
input:focus, button:focus, textarea:focus {
    outline: none;
}
textarea {
    min-height: 50px;
    resize: vertical;
}
button {
    cursor: pointer;
    font-weight: 500;
}
.feedback-card {
    height: 100%;
    border: 1px solid black;
    max-width: 980px;
    background-color: #fff;
    margin: 0 auto;
    box-shadow: -0.6rem 0.6rem 0 rgba(29, 30, 28, 0.26);
}
.feedback-header {
    text-align: center;
    padding: 8px;
    font-family: prompt-semibold;
    font-size: 16px;
    font-weight: 700;
    border-bottom: 1px solid black;
}
.feedback-body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 90%
}
.feedback-body__message {
    margin-top: 10px;
    flex-grow: 7
}
.feedback-body button {
    font-family: prompt-medium;
    margin-top: 10px;
    align-self: flex-end;
}